<div class="container" style="width:60%">
    <div>
         <span style="font-size:30px"> Proximos espectaculos </span>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
    </div>
    <div ng-repeat="espectaculo in home.espectaculos">


        <div class="card" style="width: 100%; background-color:rgba(154, 100, 100, 0.4); border-radius:30px">
            <div class="card-block" style="padding:25px">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img-top" style="width:128px;height:128px;" src="{{espectaculo.image}}" alt="Card image cap">
                    </div>
                    <div class="col-md-9">
                        <h4 class="card-title">{{espectaculo.titulo}}</h4>
                        <h5 class="card-title">{{espectaculo.fecha_obra}}</h5>
                        <h5 class="card-title">Genero: {{espectaculo.genero}}</h5>
                        <p class="card-text">{{espectaculo.descripcion}}</p>
                        <h5 class="card-title">Teatro: {{espectaculo.nombre}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <a class="btn btn-danger">Registrar Gastos</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success">Reparto</a>
                    </div>
                    <div class="col-md-3">
                        <a href="/#!/entradas/{{espectaculo.id_representacion}}" class="btn btn-primary">Vender Entrada</a>
                    </div>
                </div>

            </div>
        </div>
        <br>

    </div>

</div>
