<div class="navbar-wrapper" style="margin-bottom:100px;">
    <div class="container-fluid">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="../images/logo.png" style="max-width:120px; margin-top:10px; margin-right:10px" alt="">
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/#!/" class="">Espectaculos</a></li>
                        <li class="active"><a href="/#!/obras" class="">Obras</a></li>
                        <li class="active"><a href="/#!/personas" class="">Personas</a></li>
                        <li class="active"><a href="/#!/compañia" class="">Compañias</a></li>
                        <li class="active"><a href="/#!/estadistica" class="">Estadistica</a></li>
                        <li class="active"><a href="/#!/organismo" class="">Organismos</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="/#!/nosotros">Sobre Nosotros</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>