<div class="container" style="width:60%">
    <div>
        <span style="font-size:30px"> UTN Resistencia </span>
        <br>
        <span style="font-size:20px"> Diseño y administracion de bases de datos </span>
        <br>
        <span style="font-size:20px"> TP Final </span>
        <br>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <span style="font-size:20px"> Integrantes: </span>
        <br>
        <span style="font-size:18px"> Angeloni, Martin </span>
        <br>
        <span style="font-size:18px"> Fernández, Fernando </span>
        <br>
        <span style="font-size:18px"> Montenegro, Francisco </span>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <span style="font-size:20px"> Modelo Entidad Relacion </span>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <div class="row">
            <div class="col-md-12">
                <img  class="img-responsive" src="../images/mer.png" alt="">
            </div>
        </div>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <span style="font-size:20px"> Modelo Relacional </span>
        <hr style="	height: 20px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
        <div class="row">
            <div class="col-md-12">
                <img  class="img-responsive" src="../images/mr.png" alt="">
            </div>
        </div>
    </div>
</div>

